html, body {
  width: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DBDEE3;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "AzonixRegular";
  src: local("AzonixRegular"),
  url("./assets/fonts/AzonixRegular.ttf") format("truetype"),
  url("./assets/fonts/AzonixRegular.woff2") format("woff2"),
  url("./assets/fonts/AzonixRegular.woff") format("woff");
}

@font-face {
  font-family: "Brutal-Regular";
  src: local("Brutal-Regular"),
  url("./assets/fonts/Brutal-Regular.ttf") format("truetype"),
  url("./assets/fonts/Brutal-Regular.woff2") format("woff2"),
  url("./assets/fonts/Brutal-Regular.woff") format("woff");
}
